/* UserProfile.css */
.user-profile {
    border: 1px solid #ddd;
    padding: 20px;
    max-width: 500px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .user-profile .avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .user-profile .details {
    margin-top: 10px;
  }
  
  .user-profile .details h2 {
    margin: 0;
    font-size: 24px;
  }
  
  .user-profile .details p {
    margin: 5px 0;
  }
  
  .user-profile .details button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ff1100;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .user-profile .details button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  .all-posts{
    --auto-grid-min-size: 20rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(
      auto-fill,
      minmax(var(--auto-grid-min-size), 1fr)
    );
  }
  .post__card-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    float: left;
    transition: 1s;
  }
  
  .post__card_-2 {
    overflow: hidden;
    border-radius: 4px;
  }
  
  .post__card__image-2 {
    height: 14rem;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    transition: 1s;
  }
  
  .post__card_meta-2 {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .post__card_cat {
    padding: 2px 0px;
    font-size: 14px;
    line-height: 1.5;
    width: fit-content;
    border-radius: 9999px;
    text-align: center;
    margin-bottom: 7px;
  }
  .post__card_title-2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    line-height: 1;
    margin-bottom: 7px;
  }
  
  .post__card_alttitle-2 {
    color: #725c7a;
    margin: 0;
    line-height: 1.5;
    font-size: 1.125rem;
    margin-bottom: 7px;
  }